/* 
#92c339;
#2e3f42;
#347d93;
#ec739a;
#8499cd;
#f9ae2d;
#c7c338;
#73b1a1
*/

$primary-color: #92c339;
$font-color: #347d93;
$highlight-color: #ec739a;
$shadow-color: #8499cd;
$mid-range-color:  #f9ae2d;
$black-sub-color: #2e3f42;
$neutral-color: #ffff;
$heading-font: 'Comfortaa', cursive;
$main-font: 'Lato', sans-serif;


