/* 
#92c339;
#2e3f42;
#347d93;
#ec739a;
#8499cd;
#f9ae2d;
#c7c338;
#73b1a1
$heading-font: 'Comfortaa', cursive;
$main-font: 'Lato', sans-serif;
*/
/* FONTS*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Gotu", sans-serif;
}

p, div {
  font-family: "Gotu", sans-serif;
  color: #2e3f42;
}

.handfont {
  font-family: "Handlee", cursive;
}

body {
  border: 5em solid #347d93;
}

/*nav bar links styles*/
.nav-link {
  color: #347d93;
}
.nav-link:hover {
  color: #ec739a;
}

/*.headerNav {
  margin-bottom: 2em;
}
Effort to give responsive menu a bottom margin
*/
/*@media screen and (min-width:992px){
  .nav-item {
  line-height:80px;
  }
}*/
/*no bullets ul*/
ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

/*banner styles*/
.jumbotron {
  background: white;
}

/*logo styles */
.mx-auto d-block img-fluid unlock-icon {
  padding: 0;
  margin: 0;
}

/*navbar responsive stacking*/
@media screen and (min-width: 640px) {
  .navbr-toggler {
    display: flex;
    flex-direction: column;
  }
}
/* about.html headshot styles on About.html*/
.headshot {
  border: 0.25em solid #92c339;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 3em;
  min-width: 50%;
}

/* work.html caroursel*/
.carousel-item {
  height: auto;
  width: 100%;
}

/*index page*/
/* Welcome to Bloom Up Design styles*/
.welcome-sign {
  padding: 2em;
  margin: 2em 1em;
}

/* on home page definition of blum styles*/
.definition {
  padding: 2em;
  margin: 2em;
}

/* service.html articles on services page */
.row {
  text-align: center;
}

.para {
  text-align: center;
  font-family: "Gotu", sans-serif;
}

/*SERVICE.html middle article border adjustments*/
.middlearticle {
  border-left: 2px solid #ec739a;
  border-right: 2px solid #ec739a;
}

@media screen and (max-width: 576px) {
  .middlearticle {
    border-top: 2px solid #ec739a;
    border-bottom: 2px solid #ec739a;
    border-left: none;
    border-right: none;
    padding-top: 1em;
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 768px) {
  .middlearticle {
    border-top: 3px solid #ec739a;
    border-bottom: 3px solid #ec739a;
    border-left: none;
    border-right: none;
    padding-top: 1em;
    margin-bottom: 1em;
  }
}
/*SERVICE.html TOP article border adjustments*/
@media screen and (max-width: 576px) {
  .toparticle {
    border-top: 2px solid #ec739a;
    padding-top: 1em;
  }
}
@media screen and (max-width: 768px) {
  .toparticle {
    border-top: 2px solid #ec739a;
    padding-top: 1em;
  }
}
/*SERVICE.html BOTTOM article border adjustments*/
@media screen and (max-width: 576px) {
  .bottomarticle {
    border-bottom: 2px solid #ec739a;
    padding-bottom: 1em;
  }
}
@media screen and (max-width: 768px) {
  .bottomarticle {
    border-bottom: 2px solid #ec739a;
    padding-bottom: 1em;
  }
}
/*resume page - center pdg*/
.resume {
  border: 0.25em solid #f9ae2d;
}

/*footer nav bar styles*/
.btmnav {
  color: #347d93;
}

footer {
  padding-bottom: 2em;
  padding-top: 2em;
  font-family: "Gotu", sans-serif;
  color: #2e3f42;
}/*# sourceMappingURL=main.css.map */