
@import './resets';
@import './variables';

/* FONTS*/
h1, h2, h3, h4, h5, h6 {
    font-family: $main-font;
}

p, div {
    font-family: $main-font;
    color: $black-sub-color;
}

.handfont {
  font-family: $heading-font;
}

body {
  border: 5em solid $font-color;
}
  
/*nav bar links styles*/

.headerNav {
  margin-bottom: 2em;
}

.nav-link, {
    color: $font-color;

    &:hover {
        color: $highlight-color;
    }
}

@media screen and (min-width:992px){
  .nav-item {
  line-height:80px;
  }
}


/*no bullets ul*/
ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

/*banner styles*/
  .jumbotron {
    background: $neutral-color;
  }

/*logo styles */
.mx-auto d-block img-fluid unlock-icon {
    padding: 0;
    margin: 0;
  }

/*caroursel*/
.carousel-item {
    height: auto;
    width: 100%;
}

/* Welcome to Bloom Up Design styles*/
.welcome-sign {
    padding: 2em;
    margin: 2em 1em;
  }

/* on home page definition of blum styles*/
.definition {
    padding: 2em;
    margin: 2em;
}

/* articles on services page */
.row {
    padding: 5em;
    margin: 2em;
    background: $neutral-color;
    text-align: center;
}
.para {
    text-align: justify;
    font-family: $main-font;
}

.middlearticle {
  border-left: 2px solid $highlight-color;
  border-right: 2px solid $highlight-color;
}

/*resume page - center pdg*/
.resume {
  border: .5em solid $mid-range-color;
}

/*about page styles*/
.aboutpage {
  border: .5em solid $primary-color;
}


/*footer nav bar styles*/
.btmnav {
  color: $font-color;
}

footer {
  padding-bottom: 2em;
  padding-top: 2em;
}

/* NEED to adjust code for different screen sizes

@media only screen and (max-width: 960px) {
  .banner {
  text-align: center;
      font-size: 150%;
}
  
  a.slicknav_btn {
      float: left !important; 
  }
  
  figure img {
      display: flex;
      flex-direction: column;
      width: 150%;
  }
}


@media only screen and (max-width: 767px) {
  .banner {
  text-align: center;
      font-size: 150%;
}

  #nav_menu {
  display: none; 
  }
  
#mobile_menu {
  display: block;
}
  
  nav ul li a {
font-family: 'Montserrat', sans-serif;
  color: black;
  }

.slicknav_menu {
  background-color: white !important;
      font-family: 'Montserrat', sans-serif;
  }
  
  .slicknav_menu a {
       color: black !important;
  }
  
  figure img {
      display: flex;
      flex-direction: column;
      width: 100%;
  }
}

@media only screen and (max-width: 479px) {
body {
  font: 90%;
}
  .banner {
  text-align: center;
      font-size: 100%;
  }
  
  figure img {
      display: flex;
      flex-direction: column;
      width: 100%;
  }  
}

*/
