
/* FONTS*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', cursive;
}
p, div {
    font-family: 'Lato', sans-serif;
}

/*background
body {
    background-image: url("/images/greenbg.png");
    background-color: #73b1a1;
   }*/

.jumbotron-fluid {
  padding-bottom: 1.5em;
  padding-top: 2em;
}

/*no bullets ul*/
ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

/*nav bar links styles*/
.nav-link, #dropdownMenuLink {
    color: #347d93;
    font-size: 150%;
  }

/*Need to fix the button - it has too  much space about the word SERVICES get help*/
  #dropdownMenuLink {
    color: #73b1a1;
    font-size: 150%;
    background-color: #ffffff;
    border: none;
    padding-bottom: 20px;
  }


/*banner background color*/
  .jumbotron {
    background-color: #ffffff;
  }

/*logo styles */
.mx-auto d-block img-fluid unlock-icon {
    padding: 0;
    margin: 0;
  }

/*caroursel*/
.carousel-item {
    height: auto;
    width: 100%;
}

/* Welcome to Bloom Up Design styles*/
.welcome-sign {
    padding: 2em;
    margin: 2em 1em;
  }

/* definition of blum styles*/
.definition {
    padding: 2em;
    margin: 2em;
}

/* articles */
.row {
    padding: 5em;
    margins: 2em;
    background: #ffffff;
    text-align: center;
}
.para {
    text-align: justify;
}

.middlearticle {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

/*footer nav bar styles*/
.btmnav {
  color: #347d93;
}



  
  

